/* @theme raindrop */

@import 'default';

:root {
  --hide-section: #006599;
  --hide-blue: #B2E5FF;
  --hide-yellow: #FFFFB2;
  --hide-green: #D8FFB2;
  --hide-darkgray: #53565a;
}

section {
  justify-content: start;
  font-family: "BIZ UDPゴシック";
  background-color: black;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: white;
}
section h1 {
  color: var(--hide-section);
}
section h2 {
  color: var(--hide-section);
}
section header {
  color: var(--hide-darkgray);
}
section footer {
  color: var(--hide-darkgray);
}
section pre {
  background: white;
  color: var(--hide-darkgray);
}
section a {
  color: var(--hide-blue);
}

section.standout {
  justify-content: center;
  text-align: center;
}

section.small {
  font-size: x-large;
}

table {
  background: black;
  width: 100%;
  display: table;
}
table thead th {
  background: black;
  padding: 15px;
  border: 1px solid black;
}
table td {
  background: black;
  padding: 10px;
  border: 1px solid black;
}

.kifu {
  text-align: center;
  color: var(--hide-green);
}